.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

.combo-button-close {
  width: 40;
  height: 40;
  x: 50%-20;
  y: 50%-20
}

.pomo-countdown {
  x: 50%;
  y: 55%;
  text-anchor: middle;
  font-size: 72;
  fill: white;
  font-family: Seville-Regular;
}

.session-name {
  x:50%;
  y:55%+45;
  text-anchor: middle;
  font-size: 28;
  fill: white;
  font-family: Seville-Bold;
}

.session-counter {
  x:50%;
  y:55%+75;
  text-anchor: middle;
  font-size: 24;
  fill: white;
  font-family: Seville-Regular;
}

.clock-time {
  x: 5%;
  y: 32;
  text-anchor: start;
  font-size: 28;
  fill: white;
  font-family: Seville-Regular;
}

.calendar-icon {
  x: 50%;
  y: 35-30;
  width: 32;
  height: 32;
}

.calendar-day {
  x: 50%;
  y: 85%;
  text-anchor: middle;
  font-size: 16;
  fill: black;
  font-family: Seville-Bold;
}

.calendar-month {
  x: 50%;
  y: 28%;
  text-anchor: middle;
  font-size: 10;
  fill: white;
  font-family: Seville-Bold;
}

.pomo-end-session-text {
  text-anchor: start;
  font-size: 40;
  font-weight: regular;
  fill: white;
  font-family: Seville-Regular;
}

.pomo-arc {
  x:11%;
  y:15%;
  width:78%;
  height:78%;
  fill:red;
  arc-width:8;
  start-angle:0;
  sweep-angle:360
}

.pomo-arc-working {
  fill: "#af0909"
}

.pomo-arc-resting {
  fill: "#42a95c"
}

.pomo-arc-paused {
  fill: "#077f97"
}

.pomo-arc-idle {
  fill: "#363636"
}

.pomo-bg-resting {
  fill: "#58da79";
}

.pomo-bg-working {
  fill: "#f23e3c";
}

.pomo-bg-paused {
  fill: "#04a2c2";
}

.pomo-bg-idle {
  fill: "#596061";
}

.shadow {
  fill:"black";
  y:15%+4;
  opacity:0.2
}
